/* Podemos atribuir as cores de 3 formas, atribuindo o nome da cor, o código hexadecimal da cor e o valor RGB com uma função do CSS*/
body {
    /*
    background-color: gray; <-- aqui atribuimos por nome
    background-color: #808080; <-- Atribuindo por hexadecimal
    background-color: rgb(128,128,128) <-- Atribuindo pela função de RGB do CSS
     https: //www.w3schools.com/css/css_colors_hsl.asp <-- ##Aqui podemos ver sobre HSL que podemos alterar a cor de maneira diferente, com porcentagem ##
    background-image: url(img/bg.jpg);  <-- Aqui podemos colocar o fundo da minha página com uma img
    background-repeat: no-repeat;  <-- Podemos repetir essa imagem de diferentes maneira, se a img for menos podemos fazer um efeito de degrade fazendo ela se repetir várias vezes, com comandos de repeat-y ; repeat-x and no-repeat
    background-position: right;  <-- Aqui podemos modificar a posição da nossa imagem de fundo
    background-attachment: fixed; <-- Com essa atribuição podemos atribuir se a img de fundo irá rolar junto com a página ou se ficara fixa, entre outras funções 
    Esse códigos que foram passados podem ser atribuidos de uma só vez, com isso não é necessário digitar cada um individualmente. */
    /*Para atribuir tudo em uma linha só, temos que ter conhecimento da ordem, primeiro a COR, IMG, REPETIÇÃO, POSIÇÃO e como a IMG irá se comportar na PÁGINA.*/
    background: #808080 url(img/bg.jpg) repeat right fixed;
    /*
    background-size: 50px; <-- Aqui podemos atribuir o tamanho da img que está de fundo.*/
}
p{
   background-color: rgb(0, 0, 255, 0.2); /* <-- Aqui atribuimos a cor de fundo do paragráfo*/
   color: white; /* <-- Aqui podemos modificar a cor da letra*/
   

}