body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
}

li a:hover {
    background-color: #111;
}

li a.ativo {
    background-color: red;
}