body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

h1 {
    position: relative;
    text-align: center;
}

h1:after {
    content: "";
    background-image: linear-gradient(120deg, #e5ea15, #00c4ff);
    width: 90%;
    height: 5px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%) skew(-50deg);
}

td {
    border: solid 1px gray;
    padding: 5px;
}

table {
    border-collapse: collapse;
    display: inline-block;
}

/*Para atribuirmos alguns elementos dentro de uma tabela podemos utilizar da seguinte forma;

/*Atribuindo o CSS para o primeiro elemento da tabela (No caso a primeira linha)

/* table tr:nth-child(1) {
    background-color: yellow;
}

/*Atribuindo para o ultimo elemento de forma com que pegue o penultimo

table tr:nth-last-child(2){
    background-color: blue;
}

/*Aqui selecionamento que o terceiro elemento dentro de tr seja modificado, se trocarmos td iremos alterar para a coluna
table tr:nth-of-type(3) {
    background-color: red;
} */

/* Atribuindo para linha pares de uma tabela as configurações CSS */
table tr:nth-child(even) {
    background-color: gainsboro;
}

/* Atribuindo para as linhas impares da nossa tabela, podemos atribuir para tr também */
table tr:nth-child(odd) {
    background-color: burlywood;
}