/*Importação das fontes*/
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Open+Sans:wght@300;400;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Corpo da página*/
body {
    text-align: center;
    background-color: rgb(236, 228, 193);
}

td {
    text-align: left;
    font-family: Open Sans;
}

/* Cabeçalho da página */
header {
    background-image: linear-gradient(rgb(35, 35, 65), #00BFFF);
    /* margin: -8px;
    padding-bottom: 20px;
    padding-left: 15px;
    height: 160px; */
    width: 100%;
    /*Professor aqui eu deixei de forma com que fique certo com o meu computador para eu trabalhar melhor, na orientação do professor está falando para colocar em 1280px porém não ficou bom no meu computador */
    color: white;
    padding: 50px calc(10% + 2vw);
}

header td {
    font-family: sans-serif;
    font-weight: lighter;
    vertical-align: middle;
}

table {
    padding-top: 25px;
    width: 80%;
    text-align: center;
}

#name {
    white-space: nowrap;
    fill: white;
    font-size: 56;
    font-family: sans-serif;
}

/*Foto de perfil*/
#perfil {
    height: 100px;
    right: 100px;
    border-radius: 50%;
    margin-left: -60px;
    margin-right: 15px;
    margin-top: 20px;
}

/*Fim cabeçalho*/

/*Menu de navegação*/
#menu {
    width: 80%;
}

.menu {
    font-size: 30px;
    height: 60px;
    border-radius: 10px;
    padding: 10px 0 20px 0;
}

.link-menu {
    margin: 30px;
    text-decoration: none;
    font-family: caveat;
    color: rgb(0, 0, 0);
    padding: 10px 70px;
    border-radius: 10px;
}

a:hover {
    background-color: rgb(19, 21, 51);
    color: white;
}

/*Fim menu de navegação*/

/*Rodapé*/
footer {
    font-family: Open Sans;
    text-align: center;
    margin: 0 -8px -7px;
    width: 100%;
    padding-left: 15px;
    padding-top: 2px;
    background-color: white;
}

/*Fim rodapé*/