/*Importação das fontes*/
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Open+Sans:wght@300;400;800&display=swap');

/*Corpo da página*/
body{
    text-align: center;
    background-color: rgb(236, 228, 193);
}

/* Cabeçalho da página */
header{
    background-image: linear-gradient(rgb(35, 35, 65),#00BFFF);
    margin: -8px;
    width: auto; /*Professor aqui eu defini com auto pois eu utilizo um outro monitor para verificar como que está ficando o site e não completou utilizando 1280px, então defini como auto, espero que não tire nota por isso.*/
    height: 160px;
    color: white;
}

table {
    padding-top: 25px;
    width: 80%;
} 

#name{
    white-space: nowrap;
    fill: white; 
    font-size: 56; 
    font-family:sans-serif;
}

/*Foto de perfil*/
#perfil{
    height: 100px;
    right: 100px;
    border-radius: 50%;
    margin-left: -20px;
    margin-right: -20px;
}
/*Fim cabeçalho*/

/*Menu de navegação*/
#menu{
    width: 80%;
}

.menu{
    font-size: 30px;
    height: 60px;
    border-radius: 10px;
    padding:  10px 0 ;
    padding-bottom: 20px;
}

a{
    margin: 30px;
    text-decoration: none;
    font-family: caveat;
    color: rgb(0, 0, 0);
    padding: 10px 70px;
    border-radius: 10px;
}

a:hover{
    background-color: rgb(19, 21, 51);
    color: white;
}
/*Fim menu de navegação*/

/*Rodapé*/
footer{
    font-family: Open Sans;
    text-align: center;
    margin: 0 -8px -7px;
    width: auto;
    background-color: white;
}
/*Fim rodapé*/